@-ms-viewport{
  width: device-width;
}

#background {
  /*background: url("https://upload.wikimedia.org/wikipedia/commons/7/73/Eurofighter_Typhoon_%2842728110882%29.jpg");*/
  background-color: #353A41;
  margin-bottom: 10px;
}

#choose {
    margin: auto;
    width: 40%;
    height: 100%;
    border-width: 4px;
    border-color: #3F7FBF;
    background: rgba(153,204,255,0.6);
    float: left;
    position: relative;
    left: 6.7%;
    overflow:auto;
}

#selElem-selection-table  {
    width: 95%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:5px;
    border-collapse: collapse;
    border: 0px solid black;
}

#selElem-selection-table tr td {
    border: 0px solid black;
}

#results {
    margin: auto;
    margin-top: 0%;
    width: 40%;
    height: 100%;
    border-width: 4px;
    border-color: #3F7FBF;
    background: rgba(153,204,255,0.6);
    float: left;
    position: relative;
    left: 13.4%;
    overflow:auto;
    padding-bottom: 0.6%;
}

#resultsOptional {
    margin: auto;
    margin-top: 0%;
    width: 90%;
    border-width: 1px;
    border-color: #3F7FBF;
    margin-top: 2%;
    overflow:auto;
}

#planes {
    width: 90%;
    margin-left:auto;
    margin-right:auto;
    font-size: 1.2rem;
}


.cost-radio {
    font-size: 1.8rem;
}

#spw {
    width: 90%;
    margin-left:auto;
    margin-right:auto;
    font-size: 1.2rem ;
}

.centerSelection {
    text-align: center;
}

.randomize-thing-btn {
    width: 90%;
    margin-top: 1%;
}

.submit-btn {
    width: 95%;

    padding-bottom: 20%;
}

.media-btn {
    display: inline-block;
    width: 5%;
    opacity: 0.65;
    filter: alpha(opacity=65);
}

.media-btn:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
    cursor: pointer;
}

.section_header {
    color: dark grey;
    text-decoration: underline;
    text-align:center;
    font-size: 1.6 rem;
}

.select_label {
    font-size: 1.4rem;
    vertical-align:middle;
}

#results_table {
    border: 2px solid black;
    width: 85%;
    margin: auto;
}

#results_table tr td {
    border: 1px solid black;
}

#results_table tr:hover {
    background-color: #f5f5f5;
}

.col1 {
    width: 10%;
    font-weight: 600;
    font-size: 1.2rem;
}

.col2 {
    width: 40%;
    font-size: 1.2rem;
}

.copy-div {
    width: 4%;
    min-width: 20px;
    opacity: 0.55;
    filter: alpha(opacity=55);
    position: absolute;
    left:94%;
    top:1.5%;
}

.copy-div:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
    cursor: pointer;
}

#results_table tr:hover {
    background-color: #f5f5f5;
}

#about {
    margin: auto;
    width: 60%;
    height: 100%;
    border-width: 4px;
    border-color: #3F7FBF;
    padding-top: 5px;
    padding-left: 35px;
    padding-bottom: 10px;

    background: rgba(153,204,255,0.6);
}

#bad {
    margin: auto;
    width: 40%;
    height: 50%;
    border-width: 4px;
    border-color: #3F7FBF;
    background: rgba(153,204,255,0.6);
    float: left;
    position: relative;
    left: 30%;
    overflow:auto;
}


@media screen and (min-width: 651px) and (max-width: 980px) {
    #choose {
        margin: auto;
        width: 49%;
        height: 100%;
        border-width: 4px;
        border-color: #3F7FBF;
        background: rgba(153,204,255,0.6);
        float: left;
        left:5px;
        position: relative;
        overflow:auto;
    }

    #results {
        margin: auto;
        margin-top: 0%;
        width: 49%;
        height: 100%;
        border-width: 4px;
        border-color: #3F7FBF;
        background: rgba(153,204,255,0.6);
        padding-bottom: 4px;
        float: left;
        position: relative;
        left:5px;
        overflow:auto;
    }

    #selElem-selection-table  {
        width: 99%;
        margin-left:auto;
        margin-right:auto;
        margin-bottom:5px;
        border-collapse: collapse;
        border: 0px solid black;
    }
    #results_table {
        border: 2px solid black;
        width: 99%;
        margin: auto;
    }
    
    .copy-div {
        width: 6%;
        min-width: 15px;
        opacity: 0.55;
        filter: alpha(opacity=55);
        position: absolute;
        left:94%;
        top:1.5%;
    }
}

@media screen and (max-width: 650px) {
    #choose {
        margin: 0;
        width: 100%;
        height: 100%;
        border-width: 4px;
        border-color: #3F7FBF;
        background: rgba(153,204,255,0.6);
        float: none;
        position: static;
        left: 0px;
        overflow: visible;
    }

    #results {
        margin: 0;
        margin-top: 0%;
        width: 100%;
        height: 100%;
        border-width: 4px;
        border-color: #3F7FBF;
        background: rgba(153,204,255,0.6);
        float: none;
        position: static;
        left: 0px;
        overflow: visible;
    }

    #selElem-selection-table  {
        width: 99%;
        margin-left:auto;
        margin-right:auto;
        margin-bottom:5px;
        border-collapse: collapse;
        border: 0px solid black;
    }
    .copy-div {
        width: 6%;
        min-width: 15px;
        opacity: 0.55;
        filter: alpha(opacity=55);
        position: relative;
        left:93%;
        top:00%;
    }
}