{% extends "base_layout.html" %}

{% block titleText %}About{% endblock %}
{% block about_active %}active{% endblock %}

{% block content %}
        <div id="about" >
            <h2 class="section_header">About</h2>

            <p class="about_text h4">
                Program by PositronCannon.
            </p>
            <div class="media-btn">
                <a href="https://www.youtube.com/channel/UCYF1fQdUTdm3RLXo9V5gF6A">
                    <img src="../static/images/youtube.svg" alt="Youtube channel"/>
                </a>
            </div>
            <div class="media-btn">
                <a href="https://www.twitch.tv/positroncannon2">
                    <img src="../static/images/twitch.svg" alt="Twitch channel"/>
                </a>
            </div>
            <div class="media-btn">
                <a href="https://www.reddit.com/user/PositronCannon">
                    <img src="../static/images/reddit.svg" alt="Reddit profile"/>
                </a>
            </div>
            
            <br><br><br>
            <p class="about_text h4">
                GUI by NovaQwerty.
            </p>
            <div class="media-btn">
                <a href="https://www.youtube.com/channel/UCqse_bf6RauQaZyiI5g7EIg">
                    <img src="../static/images/youtube.svg" alt="Youtube channel"/>
                </a>
            </div>
            
            <br><br>
            <p class="about_text h4">
                You can find the code on <a href="https://bitbucket.org/PositronCannon/ace-combat-7-build-randomizer/">this repository.</a>
            </p>
        </div>
{% endblock %}