{% extends "base_layout.html" %}

{% block titleText %}Error{% endblock %}

{% block content %}
        <div id="bad">
            <h2 class="section_header"> Do not do this. {{errorMsg}} </h2>
            <button class="btn btn-secondary btn-lg" onclick="goBack()">Go Back</button>
        </div>
{% endblock %}

{% block page_scripts %}
            function goBack() {
              window.history.back();
            }
{% endblock %}


