<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ace Combat 7 Build Randomizer - {% block titleText %}{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    
     <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script> 

</head>


<body id="background">

    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Ace Combat 7 Build Randomizer</a>
        
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                     <li class="nav-item {% block sp_active %}{% endblock %}">
                        <a class="nav-link" href="/">Campaign</a>
                    </li>
                    <li class="nav-item {% block mp_active %}{% endblock %}">
                        <a class="nav-link" href="/multiplayer">Multiplayer</a>
                    </li>
                    <li class="nav-item {% block about_active %}{% endblock %}">
                        <a class="nav-link" href="/about">About</a>
                    </li>

                </ul>
            </div>
    </nav>

    <br> 
    {% block content %}{% endblock %}

    <script type="text/javascript">
        {% block page_scripts %} {% endblock %}
    </script>
    
</body>
</html>