{% extends "base_layout.html" %}

{% block titleText %}Multiplayer{% endblock %}
{% block mp_active %}active{% endblock %}}

{% block content %}
        <div id="choose">
            <h2 class="section_header"> Settings </h2>

        <form action="/multiplayer" method="GET" id="settingsForm">
            <table id="selElem-selection-table">
                <tr>
                    <td colspan=2 class="centerSelection">
                        <span class="select_label" style=" vertical-align:middle"> Cost limit: </span>
                        <button id="cost_random" type="button" class="btn btn-secondary btn-sm randomize-cost-btn" onclick="randomizeCost()">Randomize cost</button>
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <!--label class="btn btn-secondary active">
                                <input type="radio" name="cost" id="cost_random" checked value="Randomize" onclick="randomizeCost()">
                                    Random
                            </label-->
                            <label class="btn btn-secondary">
                                <input type="radio" name="cost" id="cost_Unlimited" checked value="Unlimited" onclick="filterCost(10000)">
                                    Unlimited
                            </label>
                            <label class="btn btn-secondary">
                                <input type="radio" name="cost" id="cost_2500" value="2500" onclick="filterCost(2500)">
                                    2500
                            </label>
                            <label class="btn btn-secondary">
                                <input type="radio" name="cost" id="cost_2250" value="2250" onclick="filterCost(2250)">
                                    2250
                            </label>
                            <label class="btn btn-secondary">
                                <input type="radio" name="cost" id="cost_2000" value="2000" onclick="filterCost(2000)">
                                    2000
                          </label>
                        </div>
                        <!-- todo: randomize cost button -->
                    </td>
                </tr>
                <tr>
                    <td class="centerSelection">
                        <label for="planes" class="select_label">Aircraft:</label>
                    </td>
                    <td class="centerSelection">
                        <label for="spw" class="select_label">SPW:</label>
                    </td>
                </tr>
                <tr>
                    <td class="">
                        <select id="planes" name="planes" onchange="AddSpw()" size="15" class="dropdown-cls form-control">
                            <option value="Random" SELECTED>Random</option>
                            {% for plane in planesList %}
                            <option value="{{plane}}">
                                {{plane}} &ndash; {{planesList[plane]["cost"]}} cost
                            </option>
                            {% endfor %}
                        </select>
                    </td>
                    <td class="">
                        <select id="spw" name="spw" onchange="AddPlane()" size="15" class="form-control dropdown-cls">
                            <option value="Random" SELECTED>Random</option>
                            {% for spw in proper_spw_order %}
                            <option value="{{spw}}">{{spw}}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="centerSelection">
                        <button id="randomize-plane-button" type="button" class="btn btn-secondary btn-lg randomize-thing-btn" onclick="RandomizeDropdownSelection('planes', AddSpw)">Randomize aircraft</button>
                    </td>
                    <td class="centerSelection">
                        <button id="randomize-spw-button" type="button" class="btn btn-secondary btn-lg randomize-thing-btn" onclick="RandomizeDropdownSelection('spw', AddPlane)">Randomize SPW</button>
                    </td>
                </tr>
                <tr>
                    <td class="centerSelection" colspan="2">
                        <input type="checkbox" checked="checked" id="prioritize" name="prioritize" value="withPriority"/>
                        <label for="prioritize">
                            Prioritize BODY and ARMS parts over MISC
                        </label>
                        <input type="submit" value="Submit / Reset" class="btn btn-secondary btn-lg submit-btn" />
                    </td>
                </tr>
            </table>

        </form>
    </div>

    <div id="results">
        <h2 class="section_header">Result</h2>
        <div class="copy-div">
            <input type="image" src="../static/images/copy.svg" name="copy2" class="btTxt submit" id="copy-img" alt="copy"/>
        </div>
        <table id="results_table" class="table" >
            {% for k in main_selection %}
            <tr>
                <td class="col1"> {{k}} </td>
                <td class="col2"> {{main_selection[k]}} </td>
            </tr>
            {% endfor %}
            
            {% if parts|length %}
            {% for item in parts %}
            <tr>
                <td class="col1"> Part {{loop.index}} </td>
                <td class="col2"> {{item}} </td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan=2 class="col2"> No parts available. </td>
            </tr>
            {% endif %}
            
        </table>
        
        <div id="resultsOptional">
            <u>Total cost:</u> {{additional_info["totalCost"]}} / {{additional_info["costLimit"]}}<br>
            <u>Remaining body slots:</u> {{additional_info["remainingBodySlots"]}}<br>
            <u>Remaining arms slots:</u> {{additional_info["remainingArmsSlots"]}}<br>
            <u>Remaining misc slots:</u> {{additional_info["remainingMiscSlots"]}}<br>
            {% if additional_info["warning_under100"] %}
            <b>Warning:</b> {{additional_info["warning_under100"]}}<br>
            {% endif %}
            {% if additional_info["warning_costLimit"] %}
            <b>Warning:</b> {{additional_info["warning_costLimit"]}}<br>
            {% endif %}
        </div>
    </div>
    


{% endblock %}

{% block page_scripts %}
{% include 'scripts_common.js' %}
{% include 'mp_scripts.js' %}
{% endblock %}


