{% extends "base_layout.html" %}

{% block titleText %}Single player{% endblock %}
{% block sp_active %}active{% endblock %}

{% block content %}
    <div id="choose">
        <h2 class="section_header"> Settings </h2>

        <form action="/" method="GET">
            <table id="selElem-selection-table">
                <tr>
                    <td class="centerSelection">
                        <label for="planes" class="select_label">Aircraft:</label>
                    </td>
                    <td class="centerSelection">
                        <label for="spw" class="select_label">SPW:</label>
                    </td>
                </tr>
                <tr>
                    <td class="">
                        <select id="planes" name="planes" onchange="AddSpw()" size="16" class="dropdown-cls form-control ">
                            <option value="Random" SELECTED>Random</option>
                            {% for plane in planesList %}
                            <option value="{{plane}}">{{plane}}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td class="">
                        <select id="spw" name="spw" onchange="AddPlane()" size="16" class="form-control dropdown-cls">
                            <option value="Random" SELECTED>Random</option>
                            {% for spw in proper_spw_order %}
                            <option value="{{spw}}">{{spw}}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="centerSelection">
                        <button id="randomize-plane-button" type="button" class="btn btn-secondary btn-lg randomize-thing-btn" onclick="RandomizeDropdownSelection('planes', AddSpw)">Randomize aircraft</button>
                    </td>
                    <td class="centerSelection">
                        <button id="randomize-spw-button" type="button" class="btn btn-secondary btn-lg randomize-thing-btn" onclick="RandomizeDropdownSelection('spw', AddPlane)">Randomize SPW</button>
                    </td>
                </tr>
                <tr>
                    <td class="centerSelection" colspan="2">
                        <input type="submit" value="Submit / Reset" class="btn btn-secondary btn-lg submit-btn" />
                    </td>
                </tr>
            </table>

        </form>
    </div>

    <div id="results">
        <h2 class="section_header">Result</h2>
        <div class="copy-div">
            <input type="image" src="../static/images/copy.svg" name="copy2" class="btTxt submit" id="copy-img" alt="copy"/>
        </div>
        <table id="results_table" class="table" >
            {% for k in main_selection %}
            <tr>
                <td class="col1"> {{k}} </td>
                <td class="col2"> {{main_selection[k]}} </td>
            </tr>
            {% endfor %} {% for item in parts %}
            <tr>
                <td class="col1"> Part {{loop.index}} </td>
                <td class="col2"> {{item}} </td>
            </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}

{% block page_scripts %}
{% include 'sp_scripts.js' %}
{% include 'scripts_common.js' %}
{% endblock %}


